%text-heavy {
  font-size: 27px;
  line-height: 32px;
}

%text-caption {
  font-size: 17px;
  line-height: 21px;
}

%text-body1 {
  font-size: 15px;
  line-height: 18px;
}

%text-body2 {
  font-size: 13px;
  line-height: 16px;
}

%button {
  padding: 13px;
  border: none;
  border-radius: 146px;
}
