// Colors
$red: #ff3b30;
$green: #6eb925;
$green-light: rgba(110, 185, 37, 0.5);
$blue: #42ade2;
$yellow: #fecd57;
$gray: #c5cdd9;
$gray-back: #f5f7fa;
$gray-light: #dfe1e5;
$blue-light: #2d93c7;
$blue-superLight: #b5c2d3;
$gray-heavy: #435863;

// Media query breakpoints
$breakpoints: (
  "xs": 390px,
  "sm": 425px,
);
