.uploader {
  position: relative;
  margin-top: 3px;
  // width: 24px;
  // height: 24px;

  .file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

.area-img {
  position: relative;
  width: 33.3%;
  height: 90px;
  padding: 0 5px;
  margin-bottom: 10px;

  img {
    border-radius: 3px;
    object-fit: cover;
    width: 25px;
  }

  .close {
    top: 7px;
    right: 7px;
  }
}

.attachment-task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}
