.popup {
  width: calc(100% - 16px) !important;
}
.menu {
  border-radius: 14px !important;
}
.header {
  font-size: 16px;
  line-height: 16px;
  display: block !important;
  text-align: center;
  color: black;
  font-weight: 700;
  background-color: white !important;
}
.items {
  font-family: SF Pro Text;
  font-size: 17px;
  font-weight: 400;
  display: block !important;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  background-color: white !important;
}
.items:hover {
  background-color: gray !important;
}
.activeItem {
  font-weight: 700;
}
.popClose {
  font-family: SF Pro Text;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 14px;
  height: 56px;
  background-color: white;
  border-color: rgb(205, 197, 197);
  border-width: 0.1px;
}
