.carousel-custom {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none !important;
  -ms-overflow-style: none;
  height: auto !important;
  &::-webkit-scrollbar {
    display: none;
  }

  display: flex;
  flex-wrap: no-wrap;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;

  .slide {
    padding-left: 1rem;
    flex: 0 0 auto;
  }

  .t-card {
    width: 100vw;
  }

  cursor: pointer;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1023px) {
  .carousel-custom {
    padding: 16px 0;
  }
}
