@import "../../assets/style/utils/variables.scss";
@import "../../assets/style/utils/placeholders.scss";
@import "../../assets/style/utils/mixins.scss";

.home-hero {
  padding-top: 70px;
  padding-bottom: 20px;
  background: #f5f7fa;

  &__text {
    margin-bottom: 0;
    font-size: 27px;
    line-height: 32px;
    font-family: "SF Pro Text Bold";
  }
}

.tasks-title {
  margin-bottom: 0;
  margin-left: 12px;
  font-family: "SF Pro Text Bold";
}

.task {
  &-list {
    margin-top: 16px;

    & > * {
      margin-top: 0px;
      margin-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &-image {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f5f7fa;
    margin-bottom: 8px;
    border: 1px solid $gray;
  }

  &-text {
    margin: 8px 0 0;
  }
}

.home-bottom {
  padding: 20px 0 0;
  text-align: center;
  background: #f5f7fa;
  overflow: hidden;

  &__txt {
    font-family: "SF Pro Text Heavy";
    text-align: left;
    font-size: 40px;
    line-height: 48px;
    color: #c5cdd9;
  }

  &__img {
    width: 100%;

    @include mq("sm") {
      width: auto;
    }
  }
}
