.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(255 255 255 / 44%);
  backdrop-filter: blur(12px);

  &-nav {
    margin-bottom: 35px;
  }
}

.nav {
  padding: 12px 0;

  &-link svg {
    fill: #000;

    &:hover,
    &:active,
    &:focus {
      fill: black;
    }
  }

  .active-item {
    svg {
      fill: #000;
    }
  }
}
