.secondary-header {
  .navbar-top {
    position: fixed !important;
    top: 0 !important;
    background: #fff !important;
    width: 100% !important;
    height: 101px;
    &.short {
      height: auto;
    }
  }
  .search {
    input {
      background: #f5f7fa;
      border-radius: 3px;
      width: 100%;
      height: 37px;
      border: none;
      text-align: initial;
      font-size: 15px;
      padding-left: 40px;
    }
    input::placeholder {
      color: #c5cdd9;
    }

    a {
      padding: 8px 10px;
    }
  }
}
