@import "../../assets/style/utils/variables.scss";
@import "../../assets/style/utils/placeholders.scss";
@import "../../assets/style/utils/mixins.scss";
@import "../../assets/style/components/switch-button.scss";

#flash-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// .asdasd {
//   box-sizing: border-box;
//   border: 1px solid #dfe1e5;
//   border-radius: 3px;
//   padding: 8px 5px;
//   font-size: 13px;
//   text-align: left;
// }
// .highlight {
//   background-color: #e0245e;
// }
// .excess-characters {
//   background-color: #e0245e;
// }

.NewTask {
  .btn-date::placeholder {
    color: #000000;
  }
  .check-box-area {
    display: flex;
    align-items: center;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .check-box {
      border-radius: 100px;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 10px;
      border: 2px solid $blue;
      background: $blue;

      &.checked {
        background: white;
      }
    }
  }
  //words limit exceed label for title

  .word-count-title {
    position: relative;
    font-family: "SF Pro Text Regular";
    color: gray;
    right: 2px;
    // bottom: 3px;
  }
  //words limit after exceed the char above 50 for title
  .text-red-title {
    position: relative;
    font-family: "SF Pro Text Regular";
    color: $red;
    right: 2px;
    // bottom: 3px;
  }

  //words limit exceed label for description

  .word-count-description {
    position: relative;
    font-family: "SF Pro Text Regular";
    color: gray;
    right: 2px;
    bottom: 6px;
  }

  //words limit after exceed the char above 2000 for title
  .text-red-description {
    position: relative;
    font-family: "SF Pro Text Regular";
    color: red;
    right: 2px;
    bottom: 6px;
  }

  .time-picker-radio {
    width: 100%;
    padding: 0;
    margin-bottom: 0;

    li {
      width: 100%;
      margin-bottom: 10px;
      background: #f5f7fa;
      border-radius: 3px;
      display: block;
      display: flex;
      justify-content: space-between;
      text-align: left;
      align-items: center;
      padding: 10px 20px;
      @extend %text-body1;

      img {
        margin-right: 10px;
      }

      span {
        border-radius: 100px;
        width: 15px;
        height: 15px;
        float: right;
        background: #6eb925;
        border: 2px solid #6eb925; /* Add default border style */
      }
      span.checked {
        border: unset; /* Remove border when selected */
      }
    }
  }

  .note {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: initial;
    color: #000000;

    img {
      margin-right: 10px;
    }
  }

  .form-control-group {
    .phone-input {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    .form-control-group-description {
      float: right;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      /* identical to box height */
      text-align: right;
      color: #000000;

      &.danger {
        color: #d90000;
        b {
          color: #d90000;
        }
      }
    }
  }

  .button-continue {
    background: #6eb925;
    color: #ffffff;

    &:disabled {
      background: #89c949;
    }
  }

  .slide-content.active {
    display: block;
  }

  .new-task {
    .close-btn {
      right: 20px;
      top: 10px;
    }

    .resend-code {
      font-family: "SF Pro Text Medium";
      border: none;
    }

    .input-code {
      width: 55px;
      height: 55px;
      margin: 4px;
      background: #ffffff;
      border: 1px solid #c5cdd9;
      border-radius: 3px;
      font-family: "SF Pro Text Bold";
      text-align: center;
      @extend %text-caption;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .bottom-txt {
    padding-bottom: 10px;
  }

  @include mq("xs", max) {
    .btn-w-350 {
      width: 100%;
    }
  }
}

.btn-w-350 {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow-y: scroll;
  justify-content: center;
}

.custom-input {
  box-sizing: border-box;
  border: 1px solid #dfe1e5;
  border-radius: 3px;
  padding: 10px 5px;
  font-size: 12px;
  text-align: left;
}
